{{/* Linux Personal用の設定 */}}
[settings]
minimum_release_age = "1d"
idiomatic_version_file_enable_tools = ["python"]
experimental = true
python.uv_venv_auto = "create|source"

[settings.pipx]
uvx = true

[tools]
"aqua:cli/cli" = "latest"
bun = "latest"
deno = "latest"
go = "latest"
java = "24"
node = "24"
npm = "12"
"npm:@anthropic-ai/claude-code" = "latest"
"npm:@elgato/cli" = "latest"
"npm:@fission-ai/openspec" = "latest"
"npm:@google/gemini-cli" = "latest"
"npm:@katsu996/common-utils" = "latest"
"npm:atcoder-cli" = "latest"
"npm:cc-sdd" = "latest"
opencode = "latest"
"pipx:online-judge-tools/oj" = "latest"
pnpm = "10"
python = "3.13"
rust = "latest"
uv = "latest"
yarn = "4"
zig = "latest"

[tasks.cc]
description = "Claude Code Bypass all permission checks"
run = "claude --dangerously-skip-permissions"

[tasks.dot]
description = "chezmoiを最新化"
run = "chezmoi update --apply"

[tasks.dotfiles]
description = "chezmoiを最新化"
run = "chezmoi update --apply"

[tasks.o]
description = "更新可能なパッケージを出力"
run = [
    "mise outdated",
    "apt list --upgradable"
]

[tasks.up-all]
description = "mise, aptのパッケージを更新"
run = [
    "mise upgrade",
    "sudo apt update",
    "sudo apt upgrade -y"
]

[tasks.up-apt]
description = "aptのパッケージを更新"
run = "sudo apt update && sudo apt upgrade -y"
