{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Homebrewがインストールされていない場合は、インストールする
# パッケージの導入自体は mise run in-brew で行う
if ! which -s "brew"; then
    echo "🍺 Installing Homebrew..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    echo "✅ Homebrew installed successfully."
fi

{{- end -}}
