{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

## herdr の設定
# インテグレーションをインストール
herdr integration install claude
herdr integration install cursor

# プラグインインストール
herdr plugin install smarzban/herdr-file-viewer

{{- end -}}
