{{- if and (eq .chezmoi.os "linux") (eq .role "personal") -}}
    {{ template "opencode/linux/opencode-linux-personal.tmpl" . }}
{{- else if and (eq .chezmoi.os "windows") (eq .role "personal") -}}
    {{ template "opencode/windows/opencode-windows-personal.tmpl" . }}
{{- end -}}