{{- if and (eq .chezmoi.os "windows") (eq .role "personal") -}}
    {{ template "opencode/windows/opencode-windows-personal.tmpl" . }}
{{- else -}}
    {{- fail (printf "サポートされていないOSまたはroleの組み合わせです: OS=%s, role=%s" .chezmoi.os .role) -}}
{{- end -}}