{{/* Windows Personal用の設定 */}}
[tools]
bun = "latest"
deno = "latest"
go = "latest"
java = "24"
node = "24"
npm = "10"
pnpm = "10"
python = "3.13"
rust = "latest"
uv = "latest"
yarn = "4"
zig = "latest"
"npm:@anthropic-ai/claude-code" = "latest"
"npm:@elgato/cli" = "latest"
"npm:@katsu996/common-utils" = "latest"
"npm:@google/gemini-cli" = "latest"

[tasks.o]
description = "更新可能なパッケージを出力"
run = '''
mise outdated
winget upgrade
'''

[tasks.up-all]
description = "mise, WinGetのパッケージを更新"
run = '''
mise upgrade
winget upgrade --all"
'''

[tasks.up-winget]
description = "WinGetのパッケージを更新"
run = "winget upgrade --all"


[settings]
idiomatic_version_file_enable_tools = ["python"]
experimental = true

[settings.pipx]
uvx = true